// CSEC Variables

@import "base/variables";

$dark: true;

// Colors
// Brand colours
$fg-primary: #ededed;
$fg-secondary: #888;
$fg-accent: #fff;

$bg-primary: #1a1f2a;
$bg-secondary: #2c313c;
$bg-tertiary: darken($bg-secondary, 3%);
$bg-accent: $brand-colour;
