// Colors
// Brand colours
$brand-colour: unquote("$brandColour");

$error: #e70046;
$info: #3ac4ed;
$success: #1ec712;
$warning: #ffd30d;

$aria-highlight: #32acfb;

$t: transparent;

// Dynamic colours
$fg-primary: unquote("$fgPrimary");
$fg-secondary: unquote("$fgSecondary");
$fg-accent: unquote("$fgAccent");

$bg-primary: unquote("$bgPrimary");
$bg-secondary: unquote("$bgSecondary");
$bg-tertiary: unquote("$bgTertiary");
$bg-accent: unquote("$bgAccent");

// Typography
$df-font-family: "Lato", "Roboto", "HelveticaNeue", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
$df-font-size: 16px;
$df-font: #{$df-font-size}/1.5 $df-font-family;
$acc-font-family: $df-font-family;

// Layout
$df-container-width: 1440px;
$tb-container-width: 80%;
$ph-container-width: 85%;

$ex: 20px;
$ex2: 40px;
$ex3: 60px;
$ex4: 80px;
$ex05: 10px;
$ex075: 15px;

// z-index
$z-2: -10;
$z-1: -1;
$z0: 0;
$z1: 1;
$z2: 10;
$z3: 100;
$z4: 1000;

// Media breakpoints
$bp-mobile    : 400px;
$bp-phablet   : 550px;
$bp-tablet    : 768px;
$bp-desktop   : 1024px;
$bp-desktophd : $df-container-width;

$bp-small-height: 768px;

$bp-larger-than-mobile    : "min-width: #{$bp-mobile}";
$bp-larger-than-phablet   : "min-width: #{$bp-phablet}";
$bp-larger-than-tablet    : "min-width: #{$bp-tablet}";
$bp-larger-than-desktop   : "min-width: #{$bp-desktop}";
$bp-larger-than-desktophd : "min-width: #{$bp-desktophd}";


// Misc
$df-padding: $ex05;
$df-radius: .2em;
$df-anim-length: .23s;
