[submodule "_subclubs/web-development"]
	path = _subclubs/web-development
	url = https://github.com/mss-csec/web-development-subclub
[submodule "_subclubs/beginners"]
	path = _subclubs/beginners
	url = https://github.com/mss-csec/beginners-subclub.git
[submodule "_subclubs/advanced"]
	path = _subclubs/advanced
	url = git@github.com:mss-csec/advanced-subclub.git
	branch = master
[submodule "_subclubs/artificial-intelligence"]
	path = _subclubs/artificial-intelligence
	url = https://github.com/mss-csec/artificial-intelligence.git
	branch = master
