// Components for the greater good

// Labels
.label {
  border-radius: $df-radius;
  font-size: .9em;
  padding: 2px;
}

// Callouts
.callout {
  background-color: $bg-secondary;
  padding: $ex;
  border: 4px solid;
  border-color: transparentize($fg-primary, .8);
  border-radius: 2 * $df-radius;
  margin: 1.5 * $ex 0;

  p:last-child {
    margin-bottom: 0;
  }
}
