// Footer

.site-footer {
  background-color: $bg-secondary;
  color: lighten($fg-secondary, 15%);
  padding: $ex 0;
  border-bottom: 2px solid $brand-colour;
  margin-top: $ex;
}

.site-footer a {
  color: $fg-secondary;
  text-decoration: dotted underline;
}

.site-footer a:hover {
  color: $fg-secondary;
  text-decoration: underline;
}

.site-footer .version {
  text-align: right;
  opacity: 0.5;
  margin: 0;
}

@if ($dark) {
  // Hack to make logo in footer pop less
  // don't try this at home
  .site-footer svg {
    opacity: .5;
  }
}
