// General stuff

h1, h2, h3, h4, h5, h6 {
  @include heading;

  font-weight: normal;
  letter-spacing: normal;

  em {
    background-color: $brand-colour;
    color: $fg-accent;
    font-style: normal;
    padding: .15em $ex05;
    padding-top: .3em;
  }

  em.offset-text {
    margin-left: -$ex05;
  }
}

h1 {
  font-size: 2 * $ex; // 40px
  line-height: 2.2 * $ex; // 44px
}

h2 {
  font-size: 1.8 * $ex; // 36px
  line-height: 2 * $ex; // 40px
}

h3 {
  font-size: 1.6 * $ex; // 32px
  line-height: 1.8 * $ex; // 36px
}

h4 {
  font-size: 1.4 * $ex; // 28px
  line-height: 1.7 * $ex; // 34px
}

h5 {
  font-size: 1.2 * $ex; // 24px
  line-height: 1.6 * $ex; // 32px
}

h6 {
  font-size: $ex; // 20px
  line-height: 1.5 * $ex; // 30px
}

@media (max-width: $bp-phablet) {
  h1 {
    font-size: 1.8 * $ex; // 36px
    line-height: 2 * $ex; // 40px
  }

  h2 {
    font-size: 1.6 * $ex; // 32px
    line-height: 1.8 * $ex; // 36px
  }

  h3 {
    font-size: 1.4 * $ex; // 28px
    line-height: 1.7 * $ex; // 34px
  }

  h4 {
    font-size: 1.2 * $ex; // 24px
    line-height: 1.6 * $ex; // 32px
  }

  h5 {
    font-size: 1.05 * $ex; // 21px
    line-height: 1.6 * $ex; // 32px
  }

  h6 {
    font-size: 0.9 * $ex; // 18px
    line-height: 1.4 * $ex; // 28px
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  font: $df-font;
  color: $fg-primary;
  border-color: darken($bg-secondary, 10%);

  &.error {
    background-color: transparentize($error, .8);
    border-color: $error;
  }
  &.info {
    background-color: transparentize($info, .8);
    border-color: $info;
  }
  &.success {
    background-color: transparentize($success, .8);
    border-color: $success;
  }
  &.warning {
    background-color: transparentize($warning, .8);
    border-color: $warning;
  }
}

// Sticky footer

body {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  background-color: $bg-primary;
  flex-direction: column;
  overflow-x: hidden;

  @include notIE { height: auto; }
}

.site-header,
.site-footer {
  flex: none;
}

main {
  flex: 1 0 auto;
  font-size: $df-font-size;
}

code {
  overflow-x: auto;
}

:root * {
  -webkit-tap-highlight-color: $t;
}

:root a,
:root button,
:root input,
:root textarea,
:root select {
  -webkit-tap-highlight-color: transparentize($aria-highlight, 0.4);

  &:focus {
    outline: 2px solid $aria-highlight;
  }
}

a {
  color: $brand-colour;

  &:not(:hover) {
    text-decoration: none;
  }
}

@if ($dark) {
  img {
    background-color: $fg-primary;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.disabled {
  opacity: 0.5;
}

.icon-home::before {
  content: "\1F3E0";
}

.error,
.info,
.success,
.warning {
  color: #000;
}

.error {
  background-color: $error;
  color: #fff;
}

.info {
  background-color: $info;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

@media (#{$bp-larger-than-mobile}) {
  .br-mobile { display: none; }
}
@media (#{$bp-larger-than-phablet}) {
  .br-phablet { display: none; }
}
@media (#{$bp-larger-than-tablet}) {
  .br-tablet { display: none; }
}
@media (#{$bp-larger-than-desktop}) {
  .br-desktop { display: none; }
}
