// General stuff

h1, h2, h3, h4, h5, h6 {
  @include heading;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  border-color: darken($bg-secondary, 10%);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  font-size: $df-font-size;
}

code {
  overflow-x: auto;
}

:root * {
  -webkit-tap-highlight-color: $t;
}

:root input,
:root a {
  -webkit-tap-highlight-color: transparentize($aria-highlight, 0.4);
}

:root *:focus,
:root input:focus {
  outline: 2px solid $aria-highlight;
}
