.site-header {
  @include transition;
  @include position(0, 0, 0);
  position: fixed;

  height: $ex2;
  color: $fg-primary;
  background-color: $bg-primary;
  padding: $df-padding 0;
  border-top: 2px solid $brand-colour;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  // border-bottom: 1px solid $bg-secondary;
  z-index: $z2;

  .container,
  .responsive-menu-items {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    flex: 1;
  }
}

.main-logo {
  z-index: $z4;
  margin-right: $ex;
}

.menu {
  position: relative;
  margin: 0 $ex;

  &-header {
    color: currentColor;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: $ex2;
  }

  &:hover &-header,
  &-header:focus {
    color: $brand-colour;
  }

  &-items {
    position: absolute;
    left: -$ex05;
    right: -$ex4;
    display: none;
    background-color: $bg-secondary;
    padding: $df-padding;
    margin-top: $df-padding;
    z-index: $z2;

    dt {
      font-weight: normal;
    }
  }

  &-items::before {
    @include pseudo;

    top: -$df-padding;
    left: 0;
    right: 0;
    height: $df-padding;
  }

  &:hover &-items,
  &-header:focus + &-items {
    display: block;
  }
}

.search-box {
  margin-left: auto;

  input,
  input:focus {
    @include transition;

    @if ($dark) { background-color: lighten($bg-secondary, 3%); }
    @else       { background-color: $bg-secondary; }
    border: 0;
    border-radius: 0;
  }
}

@media (min-width: $bp-tablet) {
  .site-header {
    color: $fg-primary;
    background-color: $bg-primary;
    border-bottom-width: 1px;

    &.at-top {
      background-color: $t;
      box-shadow: none;

      .search-box input {
        background-color: transparentize($fg-accent, .7);
      }
    }

    &.at-top:hover {
      background-color: transparentize($bg-primary, .3);

      .menu-items {
        background-color: transparentize($bg-secondary, .3);
      }

      .search-box input {
        @if ($dark) { background-color: transparentize(lighten($bg-secondary, 3%), .3); }
        @else       { background-color: transparentize($bg-secondary, .3); }
      }
    }
  }

  .options {
    margin-left: $ex05;

    .icon {
      display: flex;
      flex-direction: column;
      width: $ex;
      height: $ex2;
      color: currentColor;
      padding-top: 5px;
      padding-left: 15px;
      padding-bottom: 7px;
    }

    .circle {
      width: 5px;
      height: 5px;
      background-color: currentColor;
      border-radius: 5px;
      margin-top: 3px;
    }

    &:hover .circle,
    .icon:focus .circle {
      background-color: $brand-colour;
    }

    .content {
      position: absolute;
      top: $ex3 - $ex05;
      right: 0;
      display: none;
      background-color: $bg-secondary;
      padding: $ex05;
      z-index: $z2;
    }

    &:hover .content,
    .icon:focus + .content {
      display: block;
    }

    label, input {
      margin: 0;
    }

    input {
      margin-right: $ex05;
    }
  }
}

.announcement-sticky {
  position: fixed;
  top: $ex3 + 2px;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 0;
  z-index: 10;

  &,
  a {
    background-color: $bg-accent;
    color: $fg-accent;
  }

  .read-more {
    text-decoration: underline;
  }

  .close-el {
    float: right;
    background-color: $t;
    padding: 0 0.2em;
  }

  ~ main {
    margin-top: $ex3;
  }
}

@media (min-width: $bp-tablet) {
  .announcement-sticky {
    top: 0;

    + .site-header {
      top: 24px; // 1em (15px) * 1.6 line height
    }

    ~ main {
      margin-top: 24px;
    }
  }
}
