// Hero styles

.hero {
  display: flex;
  background-image: linear-gradient(100deg, #db9840, #d43b5c);
  height: 240px;
  align-items: center;
  text-align: center;
  margin-bottom: $ex2;
}

.hero .title {
  background-color: $bg-accent;
  color: $fg-accent;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
