// Misc.

// Highlight elements when targeted
:target,
.targeted {
  outline: 2px solid $brand-colour;
}

// Some elements we want to style w/ a background gradient
.bg-gradient {
  @if ($dark) { background-image: linear-gradient(100deg, #5f0d0d, #411471); }
  @else       { background-image: linear-gradient(100deg, #f8b763, #f25e7d); }
}

// lol easter egg
body.easter-egg {
  $easter-image: '/assets/images/kawaii-art-kawaii-anime.png';
  background-image: url($easter-image);

  article, div:not(.hero), footer, header, main, section {
    background-size: $ex2;
    background-image: url($easter-image);
  }

  h1:not(.title), h2, h3, h4, h5, h6, p {
    background-color: $bg-primary;
  }

  .site-header, .site-footer {
    background-size: $ex4;
  }

  div.container, div.row, .site-header div {
    background-image: none;
  }
}
