// Page styles

.page-title {
  position: relative;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: -1px;
  margin: 0;
}

.breadcrumbs {
  color: $fg-secondary;
  margin-top: $ex;
  margin-bottom: 1.5 * $ex;

  .icon-home:hover {
    text-decoration: none;
  }

  &-current {
    color: $fg-primary;
  }
}

article {
  margin-top: $ex2;
  margin-bottom: -$ex05;
}

article header {
  margin-bottom: $ex05;

  h3 {
    margin-bottom: $ex05 / 2;

    a {
      @include transition;

      color: $fg-primary;
      @if ($dark) { border-bottom: 3px solid transparentize($fg-primary, .7); }
    }

    a:hover {
      color: $brand-colour;
      text-decoration: none;
      @if ($dark) { border-color: transparentize($brand-colour, .5); }
    }
  }

  h6 {
    color: $fg-secondary;
    font-size: 0.75 * $ex;
    margin-bottom: 0;
  }
}

// Make paragraphs and stuff readable
.paragraph,
.olist,
.ulist,
.admonitionblock {
  max-width: 800px;
  box-sizing: border-box;
}

// Style quoteblocks
.quoteblock {
  max-width: calc(800px - 8em);
  margin-left: 4em;
  margin-top: 1.25em;
}

// Reset styling on code blocks
code table,
code td,
code td pre {
  @include reset-all;
  white-space: pre;
}

// Make tables responsive
table {
  display: block; // This doesn't affect the layout of the table itself
  max-width: 100%;
  overflow-x: auto;
}

// Highlight callouts
.conum {
  @include no-user-select;

  background-color: $fg-primary;
  color: $bg-primary;
  border-radius: $df-radius;
}

.colist.arabic {
  counter-reset: callout;

  ol {
    list-style: none;
  }

  li {
    position: relative;
    margin-left: .5em;
  }

  li::before {
    position: absolute;
    left: -2em;
    counter-increment: callout;
    content: '(' counter(callout) ')';
    background-color: $fg-primary;
    color: $bg-primary;
    font: bold .9em monospace;
    margin-top: .2em;
    border-radius: $df-radius;
  }
}

// Style admonition blocks
.admonitionblock {
  padding: $ex05;
  border: 4px solid rgba(0, 0, 0, .2);
  border-radius: 2 * $df-radius;
  margin: 1em 0;

  table,
  tbody,
  tr,
  td {
    display: block;
    margin: 0;
  }

  table td.icon,
  table td.content {
    @include reset(padding border);

    color: currentColor;
    text-align: left;
  }

  table td.icon {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: $ex05;
  }

  table .title {
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 700;
  }

  :not(pre) > code {
    background-color: rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .15);
  }

  &.note,
  &.note table td.icon {
    background-color: $bg-secondary;
    border-color: transparentize($fg-primary, .8);
  }
}

// Hide line numbers on small devices
.rouge-table .gutter {
  display: none;
}

// Footnote tips
.footnote-tip {
  @include no-user-select;

  position: absolute;
  display: none;
  max-width: 80%;
  line-height: 1.15;
  // No switch for dark theme as tooltip isn't so visible there
  // lighten kills two birds with one stone
  background-color: lighten($bg-secondary, 1%);
  padding: $ex05 / 2;
  border-radius: $df-radius;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.tags {
  font-size: .9em;
  color: $fg-secondary;
}

.tag {
  background-color: $bg-secondary;
  padding: .2em;
}

.hidden-highlight {
  color: $bg-primary;
}

@media only screen and (min-width: $bp-tablet) {
  table {
    display: table;
  }

  // Show line numbers at adequate screen width
  .rouge-table .gutter {
    display: table-cell;
  }

  // Override Asciidoctor default CSS and add line numbers
  .listingblock .content pre.highlight {
    background: none;
    padding: 0;
  }

  .listingblock.linenos .content pre.highlight {
    counter-reset: lines;

    .line {
      position: relative;
      margin-left: 32px;
    }

    .line::before {
      position: absolute;
      left: -48px;
      text-align: right;
      width: 32px;
      counter-increment: lines;
      content: counter(lines);
    }
  }

  .footnote-tip {
    max-width: 320px;
  }
}
