// Page styles

.breadcrumbs {
  color: $fg-secondary;
  margin-top: -$ex;
  margin-bottom: $ex;

  .icon-home:hover {
    text-decoration: none;
  }

  &-current {
    color: $fg-primary;
  }
}

code table,
code td,
code td pre {
  @include reset-all;
}
