// Responsive menu toggler

.responsive-menu-toggler {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  // -webkit-tap-highlight-color: $t;
}

.responsive-menu-toggler + label {
  display: none;
}

@media (max-width: $bp-tablet) {
  .responsive-menu-toggler {
    @include reset-all;
    @include dimensions(90px, $ex3);

    clip: initial;
    -webkit-appearance: none;
    // -moz-appearance: none doesn't work in Firefox
    -moz-appearance: checkbox-container;
    -ms-appearance: none;
    appearance: none;
    top: -$ex05;
    right: 0;
    z-index: $z4;

    + label {
      display: block;
    }

    + label a {
      @include no-user-select;

      position: absolute;
      top: -$ex05;
      right: 0;
      line-height: $ex3;
      color: $fg-primary;
      padding-left: $ex + 6px;
      padding-right: $ex + 6px;
      cursor: pointer;
      z-index: $z3;
    }

    + label a::before,
    + label a::after {
      @include pseudo;
      @include dimensions(2px, 1em);
      @include transition;

      top: $ex + 1px;
      background-color: $brand-colour;
      transform: rotate(20deg);
    }

    + label a::before {
      margin-left: -5px;
    }

    + label a::after {
      margin-left: 4px;
    }

    &:checked + label a {
      color: $t;
      padding-left: 0;
    }

    &:checked + label a::before {
      transform: translateX($ex2) scale(1.2) rotate(-45deg);
    }

    &:checked + label a::after {
      transform: translateX(-6px) scale(1.2) rotate(45deg);
    }

    + label::before {
      @include position(0);
      @include transition;

      content: '';
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      z-index: $z2;
      opacity: 0;
      pointer-events: none;
    }

    &:checked + label::before {
      opacity: 1;
      pointer-events: all;
    }

    ~ .responsive-menu-items {
      @include position(0);
      @include transition;

      position: fixed;
      flex-direction: column;
      background-color: $bg-secondary;
      z-index: $z2;
      transform: translateX(100vw);
    }

    &:checked ~ .responsive-menu-items {
      transform: translateX(0);
    }

    // &:focus + label a,
    // + label a:active {
    //   background-color: transparentize($aria-highlight, 0.4);
    // }
  }

  .menu-header,
  .menu:hover .menu-header {
    color: $fg-primary;
    pointer-events: none;
  }

  .menu .menu-items {
    position: static;
    display: block;
    margin: -$ex05 0 5px;
  }

  .search-box {
    order: -1;
    padding-top: $ex05;
    padding-left: $ex;
    border-top: 2px solid $brand-colour;
    margin-top: $ex3;
    margin-left: 0;
    margin-bottom: -$ex05;

    input,
    input:focus {
      width: calc(100vw - 40px);
      background-color: $bg-primary;
    }
  }
}
