<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="40">
          <rect width="116" height="40" mask="url(#m)" fill="#aaa"></rect>
        </svg>
      </div>
      <div class="three columns"></div>
      <div class="three columns"></div>
      <div class="offset-by-six three columns">
        <p class="version">Build <a href="{{ site.project_url }}{{ site.build_url }}">{{ site.build_version }}</a></p>
      </div>
    </div>
  </div>
</footer>
