{% assign stickies = site.posts | where_exp: "item", "item.tags contains 'sticky'" %}
{% for sticky in stickies limit: 1 %}
{% assign sticky_fallback_date = sticky.date | date: '%s' | plus: 604800 %}
{% assign cur_date = site.time | date: '%s' | plus: 0 %}
{% if cur_date <= sticky_fallback_date %}
<p class="announcement-sticky" data-display-until="{{ sticky.display_until | default: sticky_fallback_date | date: '%F' }}" data-id="{{ sticky.id }}">
  {{ sticky.summary }} <a href="{{ sticky.url }}" class="read-more">Read more &raquo;</a> <a href="#" class="close-el">&times;</a>
</p>
{% endif %}
{% endfor %}

<header class="site-header">
  <div class="container">
    <a class="logo main-logo" aria-label="{csec}" href="{{ '/' | relative_url }}" title="Happy Holidays from CSEC!">
      <svg xmlns="http://www.w3.org/2000/svg" width="116" height="40">
        <rect class="main-logo-background" width="116" height="40" mask="url(#m)" fill="#f52f2f"></rect>
      </svg>
    </a>
{% comment %}
<script>// Christmas cheer!
(function() {
  var logo = document.querySelector('.main-logo'), grad = logo.querySelector('#grad');
  var animFrame = null, running = false, stop = true;

  var animate = function() {
    var x1 = parseFloat(grad.getAttribute('x1')), x2 = parseFloat(grad.getAttribute('x2'));

    x1 += .5; x2 += .5;
    x1 %= 100; x2 = (x2 % 100) + 100;

    grad.setAttribute('x1', x1 + '%');
    grad.setAttribute('x2', x2 + '%');

    if (stop && x1 == 0)
      return running = false;

    running = true;
    return animFrame = requestAnimationFrame(animate);
  };

  logo.addEventListener('mouseover', function(e) {
    stop = false;
    if (!running)
      animate();
  });

  logo.addEventListener('mouseout', function(e) {
    stop = true;
  });
})();</script>
{% endcomment %}

    <input type="checkbox" class="responsive-menu-toggler" id="toggle-menu">
    <label for="toggle-menu"><a ontouchstart="">menu</a></label>
    <div class="responsive-menu-items">
      <div class="menu">
        <a class="menu-header" href="{{ '/subclubs/' | relative_url }}">Subclubs</a>

        <dl class="menu-items">
          {% assign subclubs = site.subclubs | group_by: "category" | where_exp: "item", "item.name != 'subclub-landing'" %}
          {% for subclub in site.displayed_subclubs %}
            {% assign subclub_obj = subclubs | where: "name", subclub | first %}
            {% assign subclub_index = subclub_obj.items | where: "layout", "landing" | first %}
          <dt><a href="{{ subclub_index.url | remove: '/index' | uri_escape }}/">{{ subclub_index.title | xml_escape }}</a></dt>
          {% endfor %}
          {% if subclubs.size > site.displayed_subclubs.size %}
          <dt class="menu-items-more"><a href="{{ '/subclubs/' | relative_url }}">All subclubs</a></dt>
          {% endif %}
        </dl>
      </div>

      <div class="menu">
        <a class="menu-header" href="{{ '/resources/' | relative_url }}">Resources</a>

        <dl class="menu-items">
          <dt class="menu-items-more"><a href="{{ '/resources/' | relative_url }}">All resources</a></dt>
        </dl>
      </div>

      <div class="search-box">
        <form action="/search" class="search-form" method="get">
          <input type="search" class="search" name="q" placeholder="Search...">
        </form>
      </div>

      <div class="menu toggles">
        <span class="menu-header show-tablet">Options</span>

        <a href="#" class="toggle toggle-theme" tabindex="0" title="Use dark theme">{% include icons/moon.svg %}{% include icons/solid-sun.svg %}</a>

        {% if layout == 'lesson' or layout == 'resource' or layout == 'post' %}
        <a href="#" class="toggle make-distraction-free" tabindex="0" title="Enter distraction-free mode">{% include icons/expand.svg %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
