<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- BEGIN CSS -->
  <link href="https://brick.a.ssl.fastly.net/Lato:300,400,700,400i:f" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.2/katex.min.css" integrity="sha384-XFgyVzCwumZgSg6F85gbh6ev/BVWgP7QAb1V3GOchWQPifusZTU0ODnQsysBK61F" crossorigin="anonymous">

  {% assign layout = page.layout %}
  {% assign ext = page.path | split: '.' | last %}

  <link href="{{ '/assets/lib/skeleton.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/lib/skeleton.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/lib/skeleton-dark.css' | relative_url }}?v={{ site.build_version }}">

  {% if layout == 'lesson' or layout == 'landing' or layout == 'post' or layout == 'resource' %}
  <link href="{{ '/assets/lib/lesson-default.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/lib/lesson-default.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/lib/lesson-default-dark.css' | relative_url }}?v={{ site.build_version }}">
  {% endif %}

  <link href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/css/main.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/css/main-dark.css' | relative_url }}?v={{ site.build_version }}">

  <link href="{{ '/assets/lib/pygments-manni.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/lib/pygments-manni.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/lib/pygments-native.css' | relative_url }}?v={{ site.build_version }}">

  {% if layout == 'home' or layout == 'subclub-landing' %}
  <link href="{{ '/assets/css/home.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/css/home.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/css/home-dark.css' | relative_url }}?v={{ site.build_version }}">
  {% endif %}
  {% if layout == 'lesson' or layout == 'landing' or layout == 'post' %}
  <link href="{{ '/assets/css/subclubs.css' | relative_url }}?v={{ site.build_version }}" rel="stylesheet" class="toggled-theme" data-alt-prop="href" data-alt-light="{{ '/assets/css/subclubs.css' | relative_url }}?v={{ site.build_version }}" data-alt-dark="{{ '/assets/css/subclubs-dark.css' | relative_url }}?v={{ site.build_version }}">
  {% endif %}

  {% if page.addons.styles %}
    {% for style in page.addons.styles %}
  <link href="{{ style }}" rel="stylesheet">
    {% endfor %}
  {% endif %}
  <!-- END CSS -->

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} • {{ site.description }}</title>

  {% seo title=false %}

  <!-- BEGIN JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous" defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js" integrity="sha384-3C51VYzyLN6W+IdxzwqCdGDQUOJfaRbPH2h6z97sB+sD4nZ4FCymhVZFvHMGN2ZE" crossorigin="anonymous" defer></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.2/katex.min.js" integrity="sha384-RpxfKy6OA0Us+WtIGBbrVlfwW4HuETdB9CD8KbG6qSbYbCanfnyid62sojNvydoB" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.2/contrib/auto-render.min.js" integrity="sha384-RkgGHBDdR8eyBOoWeZ/vpGg1cOvSAJRflCUDACusAAIVwkwPrOUYykglPeqWakZu" crossorigin="anonymous" defer></script>

  <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

  {% if page.addons.scripts %}
    {% for script in page.addons.scripts %}
  <script src="{{ script }}" defer></script>
    {% endfor %}
  {% endif %}

  <!-- BEGIN MATHJAX -->
  <script type='text/x-mathjax-config'>
    MathJax.Hub.Config({
      extensions: [
        'tex2jax.js',
        'TeX/AMSmath.js',
        'TeX/AMSsymbols.js',
        'TeX/cancel.js',
        'TeX/color.js'
        {% if page.addons.mathjax.extensions %}
          {% for ext in page.addons.mathjax.extensions %}
        ,'{{ ext }}'
          {% endfor %}
        {% endif %}
      ],
      jax: [
        'input/TeX',
        'output/CommonHTML'
        {% if page.addons.mathjax.jax %}
          {% for jax in page.addons.mathjax.jax %}
        ,'{{ jax }}'
          {% endfor %}
        {% endif %}
      ],
      TeX: {
        equationNumbers: {
          autoNumber: 'AMS'
        }
      },
      tex2jax: {
        balanceBraces: false,
        processEnvironments: false,
        processRefs: false
        {% if page.addons.mathjax.tex2jax %}
          {% for tex2jax in page.addons.mathjax.tex2jax %}
        , {{ tex2jax[0] }}: {{ tex2jax[1] | jsonify }}
          {% endfor %}
        {% endif %}
      }
      {% if page.addons.mathjax.core %}
        {% for entry in page.addons.mathjax.core %}
      , {{ entry[0] }}: {{ entry[1] | jsonify }}
        {% endfor %}
      {% endif %}
    });
  </script>
  <!-- END MATHJAX -->
  <!-- END JS -->

  <noscript><style>
  body[hidden]{display:block;}
  script[type*='math/tex']{display:inline-block!important;font-family:monospace;white-space:pre;}
  script[type*='math/tex'][type*='mode=display']{display:block!important;width:100%;text-align:center;}
  </style></noscript>
</head>
