---
---

@import "base/core";
@import "base/keyframes";

// @media (#{$bp-larger-than-tablet}) {
//   .has-anim .site-header.at-top .search-box input {
//     background-color: if-theme((
//       light: transparentize($bg-secondary, .3),
//       dark: transparentize(lighten($bg-secondary, 3%), .3)
//     ));
//   }
// }

.cta {
  @include transition;

  display: inline-block;
  line-height: 1;
  padding: $ex05;

  &-small {
    font-size: .6em;
  }
  &-medium {
    font-size: 1em;
  }
  &-large {
    font-size: 1.2em;
  }

  &:hover {
    text-decoration: none;
  }
}

@media (#{$bp-larger-than-tablet}) {
  .menu:hover .menu-items,
  .menu-header:focus + .menu-items,
  .toggle {
    display: none;
  }
}

.VerticalContainer {
  display: flex;
}

.SiteHeader {
  @include position(0);

  position: absolute;
  z-index: $z1;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}

// legacy *sigh*
.site-header {
  // box-shadow: none;
  border-top-color: $t;
  transition: none;
  pointer-events: all;
  transform: translateZ(0);

  * {
    pointer-events: all;
  }

  &.at-top:hover {
    background-color: inherit !important;
  }
}

.HomeSection {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 6 * $ex 0;

  .search,
  .search:focus {
    background-color: $t !important;
    border-bottom: 2px solid;
    outline: none;
  }

  .search::-webkit-input-placeholder {
    color: currentColor;
    opacity: .6;
  }

  &-wrapper {
    flex-direction: column;
    padding: 0;
    height: auto;

    @media (#{$bp-larger-than-tablet}) {
      flex-direction: row;
    }
  }

  &-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    @media (#{$bp-larger-than-mobile}) {
      width: 85%;
    }

    @media (#{$bp-larger-than-phablet}) {
      width: 80%;
    }
  }

  &-title {
    font-weight: bold;
  }


  // INDIVIDUAL SECTIONS

  &-hero {
    $fg-primary: #fff;
    $bg-accent: #b40909;
    // $fg-accent: #64c987;
    $fg-accent: #f5a132;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: $ex 0 0;
    overflow: hidden;

    .site-header.at-top {
      background-color: $t;
      box-shadow: none;
    }

    .HomeSection-title {
      position: relative; // IE 10
      color: $fg-accent;

      font-size: $ex2;
      line-height: 64px;

      @media (#{$bp-larger-than-tablet}) {
        font-size: 2.5 * $ex;
        line-height: 4 * $ex;
      }

      p {
        background-color: transparentize($bg-accent, .6);
        margin-bottom: 0;
      }
    }

    &__scroll-to-subclubs {
      background-color: $fg-accent;
      color: $bg-accent;

      &:hover {
        color: $bg-accent;
        background-color: lighten($fg-accent, .1);
      }
    }

    // COMMON

    background-color: $bg-accent;
    color: $fg-primary;

    .site-header {
      background-color: $bg-accent;
      color: $fg-primary;
      box-shadow: 0 0 4px transparentize($bg-accent, 0.4);
    }

    .main-logo-background {
      fill: $fg-accent;
    }

    .menu:hover .menu-header,
    .menu-header:focus {
      color: $fg-accent;
    }

    .search {
      border-bottom-color: $fg-primary;
      color: $fg-primary;

      &:hover {
        border-bottom-color: $fg-accent;
      }

      &:focus {
        border-bottom-color: $fg-accent;
        color: $fg-accent;
      }
    }
  }

  &-callout {
    $fg-primary: #fff;
    $bg-accent: #0e1e58;
    // $fg-accent: #f15073;
    $fg-accent: #f58099;

    flex-direction: column;
    justify-content: center;

    @media (#{$bp-larger-than-tablet}) {
      flex: 3;

      .HomeSection-container {
        width: calc(60vw - 10vw - 40px);
        margin-right: $ex2;
      }
    }

    @media (min-width: 1800px) {
      .HomeSection-container {
        width: calc(60vw - 50vw + 680px);
      }
    }

    .HomeSection-title {
      color: $fg-accent;
    }

    &__signup {
      background-color: $fg-accent;
      color: $bg-accent;

      &:hover {
        color: $bg-accent;
        background-color: lighten($fg-accent, .1);
      }
    }

    // COMMON

    background-color: $bg-accent;
    color: $fg-primary;

    .site-header {
      background-color: $bg-accent;
      color: $fg-primary;
      box-shadow: 0 0 4px transparentize($bg-accent, 0.4);
    }

    .main-logo-background {
      fill: $fg-accent;
    }

    .menu:hover .menu-header,
    .menu-header:focus {
      color: $fg-accent;
    }

    .search {
      border-bottom-color: $fg-primary;
      color: $fg-primary;

      &:hover {
        border-bottom-color: $fg-accent;
      }

      &:focus {
        border-bottom-color: $fg-accent;
        color: $fg-accent;
      }
    }
  }

  &-schedule {
    $fg-primary: #232323;
    $bg-accent: #f58099;
    $fg-accent: #0e1e58;

    flex-direction: column;

    @media (#{$bp-larger-than-tablet}) {
      flex: 2;

      .HomeSection-container {
        width: calc(40vw - 10vw - 40px);
        margin-left: $ex2;
      }
    }

    @media (min-width: 1800px) {
      .HomeSection-container {
        width: calc(40vw - 50vw + 680px);
      }
    }

    &:target {
      outline: none;
    }

    .HomeSection-title {
      color: $fg-accent;
    }

    a, a:hover {
      color: $fg-accent;
    }

    // COMMON

    background-color: $bg-accent;
    color: $fg-primary;

    .site-header {
      background-color: $bg-accent;
      color: $fg-primary;
      box-shadow: 0 0 4px transparentize($bg-accent, 0.4);
    }

    .main-logo-background {
      fill: $fg-accent;
    }

    .menu:hover .menu-header,
    .menu-header:focus {
      color: $fg-accent;
    }

    .search {
      border-bottom-color: $fg-primary;
      color: $fg-primary;

      &:hover {
        border-bottom-color: $fg-accent;
      }

      &:focus {
        border-bottom-color: $fg-accent;
        color: $fg-accent;
      }
    }
  }

  &-resources {
    $fg-primary: #232323;
    $bg-accent: #fff;
    $fg-accent: #f52f2f;

    background-color: $bg-accent;
    text-align: left;
    overflow: hidden;

    // COMMON

    background-color: $bg-accent;
    color: $fg-primary;

    .site-header {
      background-color: $bg-accent;
      color: $fg-primary;
      box-shadow: 0 0 4px transparentize($bg-accent, 0.4);
    }

    .main-logo-background {
      fill: $fg-accent;
    }

    .menu:hover .menu-header,
    .menu-header:focus {
      color: $fg-accent;
    }

    .search {
      border-bottom-color: $fg-primary;
      color: $fg-primary;

      &:hover {
        border-bottom-color: $fg-accent;
      }

      &:focus {
        border-bottom-color: $fg-accent;
        color: $fg-accent;
      }
    }
  }
}

#background-anim {
  position: absolute;

  &-desc:not(:empty) {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparentize($bg-tertiary, .4);
    font-size: .8em;
    padding: 0 .3em;
  }
}

.SubclubCard {

}

// legacy, for subclub-landing
.schedule {
  min-height: 160px;
  background-color: $bg-tertiary;
  padding: $ex2 0;
  margin-bottom: $ex2;

  h2 {
    font-size: 1.8 * $ex; // 36px
    line-height: $ex3;
  }

  h3 {
    font-size: 1.2 * $ex; // 24px
    line-height: $ex2;
  }

  h4 {
    font-size: $ex;
    line-height: 1.5 * $ex; // 30px
  }

  > .container > .row {
    margin-top: $ex;

    &:first-child {
      margin-top: 0;
    }
  }

  .subclub-title {
    display: inline-block;
    margin-bottom: $ex05 / 2;
  }

  .subclub-link {
    position: relative;
    display: inline-block;
    color: $brand-colour;
    text-decoration: none;
    overflow-x: hidden;

    &::before,
    &::after {
      @include pseudo;
      @include transition;
      @include dimensions($ex2, 4px);

      bottom: 0;
      left: 0;
      background-color: if-theme((
        light: darken($bg-secondary, 15%),
        dark: lighten($bg-secondary, 15%)
      ));
      transform: scaleX(1);
      transform-origin: 0;
    }

    &::after {
      width: 100%;
      background-color: if-theme((
        light: $brand-colour,
        dark: $brand-colour
      ));
      transform: scaleX(0);
    }

    &:hover::before {
      transform: scaleX(4);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .lesson-state {
    color: $fg-secondary;
    margin-bottom: $ex05;
  }

  .lesson-name {
    word-wrap: break-word; // depr.
    overflow-wrap: break-word;
    margin: 0;
  }

  .lesson-link {
    color: $fg-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .more-subclubs-listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 4 * $ex; // 80px

    h4 {
      margin-bottom: $ex05;
      margin-right: $ex05;
    }
  }
}

@media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
  .schedule .column {
    width: 100%;
    margin-top: $ex05;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .schedule .more-subclubs-listing {
    max-height: 100%;
  }
}

@media (max-width: $bp-tablet) {
  .schedule h2 {
    font-size: 1.6 * $ex; // 32px
    margin-bottom: $ex05;
  }

  .schedule h3 {
    font-size: $ex;
    line-height: 1.6 * $ex; // 32px
  }

  .schedule h4 {
    font-size: 0.8 * $ex; // 16px
    line-height: 1.2 * $ex; // 24px
  }

  .schedule > .container > .row {
    margin-top: 0;
  }

  .schedule .columns {
    width: 100%;
    margin-left: 0;
    margin-top: $ex;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: $bp-phablet) {
  .schedule {
    padding: $ex 0;
  }

  .schedule .column {
    margin-top: $ex05;

    &:first-child {
      margin-top: 0;
    }
  }

  .schedule .lesson-state {
    margin-bottom: 0;
  }

  .schedule .more-subclubs-listing {
    max-height: 100%;

    h4 {
      margin-bottom: 5px;
    }
  }
}

.announcements,
.resources {
  h2 {
    margin-top: $ex;

    em {
      @include transition;
    }

    a:hover {
      text-decoration: none;
    }

    a:hover em {
      background-color: $bg-secondary;
      color: $brand-colour;
    }
  }
}

.resources header {
  margin-bottom: $ex;
}

.view-all {
  font-size: 1.1em;

  &:hover {
    text-decoration: none;
  }

  .dot {
    @include dimensions(2px);

    display: inline-block;
    background-color: currentColor;
    border-radius: 2px;
    margin-left: 2px;
    animation-fill-mode: both;
  }

  &:hover .dot:first-child {
    animation: bouncingDots 2s ease-in 0.1s infinite;

    + .dot {
      animation: bouncingDots 2s ease-in 0.15s infinite;
    }

    + .dot + .dot {
      animation: bouncingDots 2s ease-in 0.2s infinite;
    }
  }
}

@media (max-width: $bp-tablet) {
  .column.resources,
  .column.announcements {
    width: 100%;
    margin-left: 0;
  }

  .announcements {
    margin-bottom: $ex;
  }

  .view-all .dot {
    animation: none !important;
  }
}
