---
---

@import "base/variables";
@import "base/mixins";

#lesson-listing {
  position: sticky;
  top: $ex;
  background-color: lighten($bg-secondary, 3%);
  max-height: calc(100vh - #{$ex2});
  overflow-x: auto;
  padding: $ex;
}

.lesson-name {
  position: relative;
  line-height: 1.8;
  margin-bottom: 0;

  &::before {
    @include pseudo;
    @include dimensions(2px, 100%);
    @include position(0, -$ex);
  }

  &:hover::before {
    background-color: lighten($fg-secondary, 10%);
  }
}

.lesson-cur {
  font-weight: bold;
}

.lesson-name.lesson-cur::before {
  background-color: $bg-accent;
}

.lesson-link {
  display: inline-block;
  width: 100%;
  color: $fg-secondary;
  text-decoration: none;
}

.lesson-link:hover,
.lesson-cur .lesson-link {
  color: $fg-primary;
}

.lesson-callout {
  padding-top: $ex;
  padding-bottom: $ex05;
  border: solid $fg-secondary;
  border-width: 1px 0;
  margin-bottom: $ex;

  .lesson-state {
    font-size: $ex;
    margin-bottom: 0;
  }

  .lesson-name {
    font-size: 1.1em;
    margin-bottom: $ex05;

    &::before {
      width: 3px;
      background-color: $bg-accent;
      transform: scaleY(0);
      transition: transform #{$df-anim-length / 2} ease;
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }

  .lesson-link,
  .lesson-link:hover {
    color: $brand-colour;
  }
}
