@import "base/mixins";

// Sidebar

#lesson-listing {
  position: relative;
  top: 0;
  width: 100%;
  background-color: $bg-tertiary;
  overflow-x: auto;
  padding: $ex;

  @media (max-width: #{$bp-tablet - 1px}) {
    margin-top: -$ex05;

    &.closed {
      height: $ex3;
      padding: $ex05 $ex;
      overflow: hidden;
    }
  }
}

.collapse-el {
  position: absolute;
  top: $ex05;
  transform: rotate(90deg);
  right: $ex05;
  width: $ex2;
  font-size: $ex2;
  line-height: $ex2;
  text-align: center;

  &,
  &:hover {
    color: $fg-primary;
    text-decoration: none;
  }
}

.paginator {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: .95em;
  margin-top: -$ex;
  margin-bottom: -$ex05;

  &-item {
    @include transition;

    flex: 1;
    color: $fg-secondary;
    text-align: center;
    padding: 0;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-valign {
    height: 100%;
  }
}

.lesson-name {
  line-height: 1.5;
  margin-bottom: 0;
}

.lesson-cur {
  font-weight: bold;
}

.lesson-link {
  display: inline-block;
  width: 100%;
  color: $fg-primary;
  text-decoration: none;
  padding: $ex05/2 0;
  opacity: .7;
}

.lesson-link:hover,
.lesson-cur .lesson-link {
  color: $fg-primary;
  opacity: 1;
}

.lesson-callout {
  padding-top: $ex;
  padding-bottom: $ex05;
  border: solid $fg-secondary;
  border-width: 1px 0;
  margin-bottom: $ex;

  .lesson-state {
    font-size: $ex;
    margin-bottom: 0;
  }

  .lesson-name {
    font-size: 1.1em;
    margin-bottom: $ex05;
  }

  .lesson-link,
  .lesson-link:hover {
    color: $brand-colour;
    padding: 0;
    opacity: 1;
  }
}

// Main content

.content.container {
  margin-top: $ex3;
}

#toc {
  display: none;
}

#main-content {
  width: 100%;
  margin: 0;

  &.blog-post {
    float: none;
    margin: auto;
  }
}

.lesson-num {
  position: absolute;
  bottom: -0.08em;
  right: 0;
  color: $fg-secondary;
  font-size: .8em;
  font-weight: 300;
}

.lesson-date {
  display: block;
  font-weight: bold;
}

// TODO: perhaps move to _page.scss?
.paragraph,
.olist,
.ulist {
  max-width: 800px;
}

@media (#{$bp-larger-than-tablet}) {
  // Header

  .page-header {
    position: relative;
    margin-bottom: (2 + 1.5) * $ex; // 1.5 to factor in margin of .breadcrumbs

    &::after {
      @include pseudo;
      @include position(null, 0, 0, -30px);

      left: 0;
      right: 0;
      height: 0.5 * $ex05;

      @if ($dark) { background-image: linear-gradient(100deg, #5f0d0d, #411471); }
      @else       { background-image: linear-gradient(100deg, #f8b763, #f25e7d); }
    }
  }

  // Sidebar

  #lesson-listing {
    position: sticky;
    top: $ex;
    width: 22%; // .three.columns
    background-color: $bg-primary;
    padding: 0;
  }

  .lesson-callout {
    @include reset(padding border);
  }

  .collapse-el {
    display: none;
  }

  .content.container {
    margin-top: 4.5 * $ex;
  }

  .lesson .site-header {
    position: absolute;
    box-shadow: none;
  }

  // Main content

  #toc {
    position: sticky;
    top: 0;
    display: flex;
    background-color: $bg-tertiary;
    padding: $ex05;
    padding-top: .75 * $ex;
    margin-bottom: 1.5 * $ex;
    z-index: $z1;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      ul {
        display: none;
      }
    }

    li {
      margin: 0;
      margin-left: $ex;
    }

    a {
      padding: 0 0.2em;
    }

    a:hover {
      text-decoration: underline;
    }

    .in-view {
      background-color: $bg-accent;
      color: $fg-accent;
    }
  }

  #main-content {
    width: 74%; // .nine.columns
    margin-left: 4%;

    > :first-child {
      margin-top: 0;
    }
  }

  .sect1 > h2:target {
    outline: none;
  }

  .lesson-date {
    float: right;
  }

  // Distraction-free mode

  .responsive-menu-items .options {
    margin-right: $ex2;
  }

  .make-distraction-free {
    position: absolute;
    top: 15px;
    right: calc(50vw - 720px);
    font-size: 1.2em;
    z-index: $z3;
  }

  .make-distraction-free {
    display: block;

    .distraction-free & {
      top: $ex;
      right: $ex;
    }
  }

  .distraction-free {
    .site-header,
    .site-footer,
    .breadcrumbs,
    .callout,
    .anchorjs-link,
    #lesson-listing,
    #toc,
    #open-feedback-modal {
      display: none;
    }

    .content.container {
      margin-top: $ex3;
    }

    #main-content {
      float: none;
      margin: auto;
    }

    .page-title {
      margin-bottom: $ex;
    }
  }
}
