---
layout: default
---

<a href="#" class="toggle make-distraction-free" title="Exit distraction-free mode">{% include icons/compress.svg %}</a>

<div class="content container">
  <div class="row">
    <div class="columns blog-post" id="main-content">
      <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="breadcrumbs">
          <time datetime="{{ page.date | date: site.mdatefmt }}">{{ page.date | date: site.datefmt }}</time>
        </div>

        <div class="bar bg-gradient" style="position:static"></div>

        <div class="paginator distraction">
          {% if page.previous != nil %}
          <a class="paginator-item" href="{{ page.previous.url }}" title="Posted on {{ page.previous.date | date: site.datefmt }}"><strong>Previous</strong><br>{{ page.previous.title | xml_escape }}</a>
          {% else %}
          <span class="paginator-item paginator-valign disabled">(No previous posts)</span>
          {% endif %}
          <a class="paginator-item paginator-valign" href="{{ '/posts/' | relative_url }}">All posts</a>
          {% if page.next != nil %}
          <a class="paginator-item" href="{{ page.next.url }}" title="Posted on {{ page.next.date | date: site.datefmt }}"><strong>Next</strong><br>{{ page.next.title | xml_escape }}</a>
          {% else %}
          <span class="paginator-item paginator-valign disabled">(No newer posts)</span>
          {% endif %}
        </div>

        <div class="bar bg-gradient distraction"></div>
      </header>

      <article>
      {{ content }}
      </article>

      <footer>
        {% if post.tags.size > 0%}
        <div class="tags">Tags:
          {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </footer>
    </div>
  </div>
</div>
