// Responsive menu toggler

.responsive-menu-toggler {
  display: none;
}

@media (max-width: $bp-tablet) {
  main, footer {
    @include transition;

    filter: blur(0);
  }

  .responsive-menu {
    &-open {
      // body
      overflow: hidden;

      main, footer {
        filter: blur(3px);
      }
    }

    &-toggler {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 4.5 * $ex;
      height: $ex3 - $ex05;
      z-index: $z3;
    }

    &-label {
      @include no-user-select;

      position: absolute;
      top: -$ex05;
      right: 0;
      line-height: $ex3;
      color: $fg-primary;
      padding-left: $ex + 6px;
      padding-right: $ex + 6px;
      cursor: pointer;
      z-index: $z3;

      &::before,
      &::after {
        @include pseudo;
        @include dimensions(2px, 1em);
        @include transition;

        top: $ex + 1px;
        right: $ex + 6px;
        background-color: $brand-colour;
      }

      &::before {
        transform: translateX(-$ex2) scale(1) rotate(20deg);
      }

      &::after {
        transform: translateX(5px) scale(1) rotate(20deg);
      }
    }

    &-items {
      @include position(0);
      @include transition;

      position: fixed;
      flex-direction: column;
      background-color: $bg-secondary;
      z-index: $z2;
      overflow: auto;
      transform: translateX(100vw);
    }

    &-open &-label {
      color: $t;
      padding-left: 0;
    }

    &-open &-label::before {
      transform: translateX(-1px) scale(1.2) rotate(-45deg);
    }

    &-open &-label::after {
      transform: translateX(-1px) scale(1.2) rotate(45deg);
    }

    &-open &-toggler::before {
      opacity: 1;
      pointer-events: all;
    }

    &-open &-items {
      transform: translateX(0);
    }
  }

  .menu-header,
  .menu:hover .menu-header {
    color: $fg-primary;
    pointer-events: none;
  }

  .menu .menu-items {
    position: static;
    display: block;
    margin: -$ex05 0 5px;
  }

  .search-box {
    order: -1;
    padding-top: $ex05;
    padding-left: $ex;
    border-top: 2px solid $brand-colour;
    margin-top: $ex3;
    margin-left: 0;
    margin-bottom: -$ex05;

    input,
    input:focus {
      width: calc(100vw - 40px);
      background-color: $bg-primary;
    }
  }

  .options {
    margin: 0 $ex;
  }
}
